*~

/Benchmarks/KIARARMIInterface/target/
/Benchmarks/KIARARMIServer/target/
/Benchmarks/KIARARMIClient/target/
/Benchmarks/ApacheThriftClient/target/
/Benchmarks/ApacheThriftProject/target/
/Benchmarks/ZeroIceClient/target/
/Benchmarks/ZerocIceProject/target/
/Benchmarks/RMIJavaProject/target/
/Benchmarks/ApacheAxis2Java/target/
/Benchmarks/ApacheAxis2JavaWeb/target/
/Benchmarks/RMIClientProject/target/
/Benchmarks/TCPSocketProject/target/
/Benchmarks/RabbitMQJava/target/
/KIARA/target
/BACKUP
