/KIARA_Java/KIARARMIInterface/target/
/KIARA_Java/KIARARMIServer/target/
/KIARA_Java/KIARARMIClient/target/
/KIARA_Java/ApacheThriftClient/target/
/KIARA_Java/ApacheThriftProject/target/
/KIARA_Java/ZeroIceClient/target/
/KIARA_Java/ZerocIceProject/target/
/KIARA_Java/RMIJavaProject/target/
/KIARA_Java/ApacheAxis2Java/target/
/KIARA_Java/ApacheAxis2JavaWeb/target/
/KIARA_Java/RMIClientProject/target/
/KIARA_Java/TCPSocketProject/target/
/KIARA_Java/TCPClient/target/